* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFB400;
}



.sumar_producto{
    display: flex;
    width: 20px;
    height: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    background:#5CD10D;
    color: var(--Blanco, #FFF);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
}

.ordenarPor{
    display: flex;
    flex-direction: row;
}
/*-xxxx*/
.card{
    margin-top: 16px;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.08); 
    display: flex;
    justify-content: center;
}

.contenido{
    padding: 0px 16px;
}

.titulosFinos{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px; 
    margin-bottom: 0px;
    margin-left: 8px;
}

.botonesAcciones{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.cancelar{
    display: flex;
    width: 104px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Bordo, #9B0020);
    color: var(--Blanco, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
}

.agregar{
    display: flex;
    width: 104px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background:#5CD10D;
    color: var(--Blanco, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
}

.form-control::placeholder{
    color: #D9D9D9;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
}

.inputGenerales{
    width: 268px; 
}

















.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#mensaje {
    color: red;
}

.input-login {
    width: 268px !important;
    height: 40px !important;
    border-radius: 8px !important;
    border: 1px solid #D9D9D9 !important;
    background: #F9F9F9 !important;
}

.separacion {
    margin-top: 16px;
}

.btn-reducnj {
    display: flex;
    justify-content: center;
    background-color: #FD8B02;
    border-radius: 8px;
    padding: 8px 10px;
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.56px;
    width: auto !important;
}

.font-label,
.font-input::placeholder,
.font-input,
.form-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
}

.font-label {
    margin-left: 8px;
}

.font-input::placeholder {
    color: #D9D9D9 !important;
}

.font-input {
    padding-left: 20px !important;
    color: #000000 !important;
}

.form-label {
    margin-bottom: 2px !important;
}

.grupoInput {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}





.tituloCards{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
    margin: 0;
}

.mensajeNotificacion{
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.proviNotif{
    display: inline;
    justify-content: space-around;
}

.notificacionIndex{
    margin-top: 200px;
}









.titulo_importante,
.titulo_bg {
    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
}

.titulo_bg {
    background-color: orange;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    width: 200px;
}

.logo img {
    width: 200px;
}

.subtitulos,
.items {
    font-weight: 600;
    margin: 0px;
}

.card-resultados {
    background-color: wheat;
}

.botonera_main {
    display: flex;
    flex-direction: column;
}

.btn-main {
    margin: 12px 0px;
}

.body_white {
    background-color: #F5F5F5;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row_notificaciones {
    width: 100%;
    margin-top: 16px;
}

.card_notificaciones {
    background-color: #FFFFFF;
    border-radius: 8px;
    height: auto;
    margin-top: 16px;
    padding: 12px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.08); 
}

.linea_notificaciones{
    display: flex;
    justify-content: space-evenly;
}




.font_saludoHola{
    color: var(--Blanco, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.font_saludoPersona{
    color: var(--Blanco, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin: 0px 0px 16px 38px;
    padding: 0px;
}







.titulo_cards, .valor_venta, .valor {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.subtitulo_cards{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.linea_titulo_card{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.valor_gerencia {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.linea_titulo {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin: 0px;
}

.linea_notificaciones {
    display: flex;
    justify-content: center;
    margin: 0;
}

.btn_panel {
    margin-top: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFA023;
    color: white;
}

.botonera {
    margin-top: 16px;
}

.card-cuerpo {
    background-color: orange;
    margin: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    width: 300px !important;
}

.titulo_card {
    font-size: 16px;
    font-weight: 600;
}

.stock_card {
    font-size: 14px;
    font-weight: 400;
}

.card_ventas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 48px;
    margin-top: 12px;
    padding: 0px 16px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.08); 
}



.card_notificaciones {
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 16px;
    padding: 12px;
}


.contenedor-venta-discriminada {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.forma-pago {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 8px;
}

.icon_venta {
    height: 32px;
}

.contenedor_valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card_grafico{
    background-color: #FFFFFF;
    border-radius: 8px;
    height: auto;
    margin-top: 16px;
    padding: 12px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.08); 
}

.miGrafico{
    height: auto;
}

.row_botones{
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 27% !important;
    margin: 8px 2px;
    padding: 12px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.08); 
}

.img_boton{
    width: 56px ;
}

.espacio_notif1{
    margin-bottom: 6px;
}

.espacio_notif2{
    margin-bottom: 16px;
}