.textos{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.titulos{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
}

.titulos_productos{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.valor{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}